<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-1" *ngFor="let l of linksList | async">
            <div class="card shadow fill hover">
                <legend (click)="assignLinkEdit(l.id)" class="clickableLegend wrap p-2 pl-3" data-target="#EditLinkModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">{{ l.data.title }}</legend>

                <div class="card-body">
                    <p>{{ l.data.description }}</p>
                </div>
                <div>
                    <!-- Check the URL. If it's http use a link, if a network location use a button -->
                    <a *ngIf='l.data.address.indexOf("http") > -1' [href]='l.data.address' target="_blank" class="btn btn-info wrap btn-block">{{ l.data.address }}</a>
                    <button *ngIf='l.data.address.indexOf("\\") > -1' target="_blank" class="btn btn-info wrap btn-block">{{ l.data.address }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <button class="btn btn-info pull-right shadow hover btn-sm" data-target="#AddLinkModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add New Card</button>
</div>
<br>
<!-- Add New Windows VM Modal-->
<div class="modal modal-fade" id="AddLinkModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #vmAddForm="ngForm">
                    <fieldset>
                        <div class="form-group">
                            <label for="userName">Title</label>
                            <input type="text" class="form-control" [(ngModel)]="newLink.title" name="vmName">
                        </div>
                        <div class="form-group">
                            <label for="userName">Description</label>
                            <input type="text" class="form-control" [(ngModel)]="newLink.description" name="userName">
                        </div>
                        <div class="form-group">
                            <label for="userName">URL</label>
                            <input type="text" class="form-control" [(ngModel)]="newLink.address" name="os">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="addLink()" class="btn btn-success" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Edit/Checkout Link Modal -->
<div class="modal modal-fade" id="EditLinkModal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form #linkEdit="ngForm">
                    <fieldset>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" #title name="title" value="{{ (linkToEdit | async)?.title}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" #description name="descripion" value="{{ (linkToEdit | async)?.description}}">
                        </div>
                        <div class="form-group">
                            <label for="url">URL</label>
                            <input type="text" class="form-control" #url name="url" value="{{ (linkToEdit | async)?.address}}">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-target="#LinkConfirmDeleteModal" data-dismiss="modal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Delete</button>
                <button type="button" (click)="updateLink(title.value, description.value, url.value)" class="btn btn-success" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Delete Link-->
<div class="modal modal-fade" id="LinkConfirmDeleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Card?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteLink()" data-target="#EditLinkModal" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
