<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-globe"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/vms" routerLinkActive="active" class="nav-link">Team VMs</a>
            </li>
            <li class="nav-item">
                <a routerLink="/browsers" routerLinkActive="active" class="nav-link">Browser Support</a>
            </li>
            <li class="nav-item">
                <a routerLink="/cards" routerLinkActive="active" class="nav-link">Cards</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<section class="container" id="outlet">
    <router-outlet></router-outlet>
</section>