<!--The content below is only a placeholder and can be replaced.-->
<div id="page">
  <header class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav">
            <a routerLink="/vms" routerLinkActive="active" class="navlink">VM Dashboard</a>
          </li>
          <li class="nav">
            <a routerLink="/links" routerLinkActive="active" class="navlink">Team links</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="container" id="outlet">
    <router-outlet></router-outlet>
  </section>
</div>
