<h1 class="display-5 text-primary">Windows WMs</h1>
<div class='table-responsive'>
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Current User</th>
                <th>OS</th>
                <th>.NET Version</th>
                <th>Local Build</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let winwm of winwms'>
                <td>{{winwm.wvmName}}</td>
                <td>{{winwm.wvmCurrentUser}}</td>
                <td>{{winwm.wvmOS}}</td>
                <td>{{winwm.wvmDotNet}}</td>
                <td>{{winwm.wvmBuildInstalled}}</td>
                <td>{{winwm.wvmComment}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h1 class="display-5 text-primary">MAC WMs</h1>
<div class='table-responsive'>
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Current User</th>
                <th>OS</th>
                <th>.NET Version</th>
                <th>Local Build</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let winwm of winwms'>
                <td>{{winwm.wvmName}}</td>
                <td>{{winwm.wvmCurrentUser}}</td>
                <td>{{winwm.wvmOS}}</td>
                <td>{{winwm.wvmDotNet}}</td>
                <td>{{winwm.wvmBuildInstalled}}</td>
                <td>{{winwm.wvmComment}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <button routerLink="/vmsedit" class="btn btn-lg btn-primary pull-right">Edit VMs</button>
</div>