/* You can add global styles to this file, and also import other style files */
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
#outlet {
  margin-top: 80px;
}
a.active {
  color: green !important;
}
.navlink {
  font-size: 25px !important;
}
