/* You can add global styles to this file, and also import other style files */


/*
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
#outlet {
  margin-top: 80px;
}
a.active {
  color: green !important;
}

*/

.nav-link {
    font-size: 22px;
    margin: 2px;
    margin-right: 20px;
}

.glyphicon.glyphicon-globe {
    font-size: 40px;
}
html
{
    font-size: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
tr:hover {
  cursor: pointer;
}
