/* You can add global styles to this file, and also import other style files */


/*
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
#outlet {
  margin-top: 80px;
}
a.active {
  color: green !important;
}

*/
.nav-link {
    font-size: 22px;
    margin: 2px;
    margin-right: 20px;
}

.glyphicon.glyphicon-globe {
    font-size: 40px;
}
html
{
    font-size: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
tr:hover {
  cursor: pointer;
  background: #475664 !important;
}
.modal {
  margin-top:100px;
}
.vmInUse {
   background: #4b637a !important;
   color: #d1d1d1;
}
thead {
  background: #4f5d6b !important;
}
th, td {
  border: 1px solid #4E5D6C !important;
}
.move-left {
  float: left !important;
}
/* f1dede 384858 normal row: 2d3e4f*/
